body{
	background-color:#f9f9f9;
	font-size:16px
	color: #0000000;
	font-family: sans-serif;
}
 
.content{
    background-color: #006482;
	width: 100%;
    height: 100%;
	border-radius: 8px;	
}
.content h1{
    text-align: center; 
color: white;
}
.content h3{
    text-align: center; 
color: white;
}

 
/*menu navigasi*/
.menu{
	background-color: #87CEFA;
	height: 100px;
	border: 1px solid #f0f0f0;
	border-radius: 3px;	
	
}
 
.menu ul {
	list-style:none;
	overflow: hidden;
}
 
 
.menu ul li {
	float:left;		
	text-transform:uppercase;
}
 
.menu ul li a {
	display:block;	
	padding:0 20px;
	text-decoration:none;
	color:#2c2c2c;
	font-family: sans-serif;
	font-size:13px;
	font-weight:400;
	transition:all 0.3s ease-in-out;
}
 
.menu ul li a:hover,
.menu ul li a.hoverover {	
	cursor: pointer;	
	color:#fff;
}


/*TAMPILAN INDEX*/
.tampilan{
	background-color: #006482;
	margin-bottom: 10px;
}
 .tampilan img{
	position: relative;
	 text-align: center;
	 width: 50%;
	 height: 50%;
 }
 
.badan{
	background-color: white;
	border-radius: 5px;
	border: 1px solid #f0f0f0;
	margin-bottom: 10px;
}
 
.halaman{
	text-align: center;
	padding: 30px 20px;	
	background-color: #00BFFF;
}

/*TAMPILAN TENTANG*/
.tentang{
	background-color: rgb(255, 34, 34);
}

/*TAMPILAN rekap*/
.rekap{
	height: 90%;
	width: 90%;
}
.rekap table tr{
	background-color: rgb(87, 64, 150);
	border-color: blue;
}
.tampilan{
	height: 500px;
	width: 500px;
}


header{
	background-color: #4B0082;
	padding: 20px 10px;
	border-radius: 5px;
	border: 1px solid #f0f0f0;
	margin-bottom: 10px;
	border-radius: 8px;	
   position:absolute;
   bottom:0;
   width:97%;
   height:20%;   /* Contoh tinggi footer 60px */
	
}
 
header h4{
text-align: center; 
color: white;

}